# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Package-lock.json
package-lock.json

# Ignore bundle.js
src/public/bundle.js